<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="leaveMapper">
	
	<insert id="insertAnnual">
		INSERT INTO ANNUAL VALUES
		(SEQ_LE.NEXTVAL, #{baseDate}, #{startDate}, #{endDate}, #{total}, SYSDATE, #{content}, #{memberNo}, #{type})
	</insert>
	
	<select id="selectAnnual" resultMap="annualResultSet">
		SELECT * 
		FROM ANNUAL
			 JOIN MEMBER USING (M_CODE)
		WHERE M_CODE = #{memberNo}
		ORDER BY A_NO
	</select>
	
	<resultMap type="LeaveAnnual" id="annualResultSet">
		<id column="A_NO" property="annualNo"/>
		<result column="A_YEAR" property="year"/>
		<result column="A_BASE_DATE" property="baseDate"/>
		<result column="A_START_DATE" property="startDate"/>
		<result column="A_END_DATE" property="endDate"/>
		<result column="A_TOTAL_DAYS" property="total"/>
		<result column="A_CREATE" property="createDate"/>
		<result column="A_MEMO" property="content"/>
		<result column="A_TYPE" property="type"/>
		<result column="M_CODE" property="memberNo"/>
		<result column="M_ID" property="memberId"/>
	</resultMap>
	
	<select id="selectLeave" resultMap="usedResultSet">
		SELECT *
		FROM USED
		WHERE M_CODE = #{memberNo}
		ORDER BY U_NO
	</select>
	
	<resultMap type="LeaveUsed" id="usedResultSet">
		<id column="U_NO" property="leaveUsedNo"/>
		<result column="U_START_DATE" property="startDate"/>
		<result column="U_END_DATE" property="endDate"/>
		<result column="U_USED_DAYS" property="days"/>
		<result column="U_CREATE" property="createDate"/>
		<result column="U_MEMO" property="content"/>
		<result column="U_APPROVAL" property="approval"/>
		<result column="U_STATUS" property="status"/>
		<result column="U_TYPE" property="type"/>
		<result column="M_CODE" property="memberNo"/>
	</resultMap>
	
	<insert id="insertLeave" parameterType="LeaveUsed">
		INSERT INTO USED VALUES(SEQ_USED.NEXTVAL, #{startDate}, #{endDate}, #{days}, SYSDATE, #{content}, DEFAULT, DEFAULT, #{type}, #{memberNo})
		
		<selectKey keyProperty="leaveUsedNo" resultType="_int" order="AFTER">
			SELECT SEQ_USED.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<update id="changeStatus">
		UPDATE USED
		SET U_STATUS = #{status}
		WHERE M_CODE = #{memberNo} AND U_NO = #{leaveUsedNo}
	</update>
	
	<update id="leaveUpdate">
		UPDATE USED
		SET U_APPROVAL = 'Y'
		WHERE U_NO = #{no}
	</update>
</mapper>
